@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Web.Client.Common;

@inject NavigationManager _navigationManager
@inject UserDataService _userDataService

<AuthorizeView>
    <Authorized>
        @if (_userDataService.CurrentUserVM is not null)
        {
            <MudMenu TransformOrigin="Origin.TopCenter" AnchorOrigin="Origin.BottomCenter">
                <ActivatorContent>
                    <UserAvatar Name="@_userDataService.CurrentUserVM.Name" />
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem>Settings</MudMenuItem> <!-- TODO -->
                    <MudMenuItem OnClick="BeginSignOut">Sign Out</MudMenuItem>
                </ChildContent>
            </MudMenu>
        }
        else
        {
            <a href="#" @onclick="BeginSignOut">Sign Out</a>
        }
        
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Sign In</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        _userDataService.SignedIn += () => StateHasChanged();
        _userDataService.SignedOut += () => StateHasChanged();
        await _userDataService.UpdateUserData();
    }

    private void BeginSignOut()
    {
        _navigationManager.NavigateToLogout("authentication/logout");
    }
}
