@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Web.Client.Common;

@inject NavigationManager NavigationManager
@inject UserDataService UserDataService

<AuthorizeView>
    <Authorized>
        @if (UserDataService.CurrentUserVM is not null)
        {
            <UserAvatar Name="@UserDataService.CurrentUserVM.FullName" UserId="@UserDataService.CurrentUserVM.Id" Clickable="true" OnClick="() => { _userSettingsPopup?.Open(); }"></UserAvatar>
            <UserSettingsPopup @ref="_userSettingsPopup" SignOutClicked="BeginSignOut"></UserSettingsPopup>
        }
        else
        {
            <a href="#" @onclick="BeginSignOut">Sign Out</a>
        }
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Sign In</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    UserSettingsPopup? _userSettingsPopup;

    protected override async Task OnInitializedAsync()
    {
        UserDataService.SignedIn += StateHasChanged;
        UserDataService.SignedOut += StateHasChanged;
        await UserDataService.UpdateUserData();
    }

    private void BeginSignOut()
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }
}
