.show-on-hover {
    visibility: hidden;
}

.show-on-hover-parent:hover .show-on-hover {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.clickable {
    cursor: pointer;
}

html, body, #app, .max-height {
    height: 100%;
}

.status-board-container {
    flex-grow: 1;
    position: relative;
}

.status-board {
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
}

.comment-text {
    width: 100%;
    border-radius: 5px;
    background-color: #32323a;
}

.organization-card, .project-card {
    width: 100%;
    cursor: pointer;
    padding: 1.5rem;
}

.diagram-container {
    height: calc(100vh - 175px);
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}

.loading-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #32333dff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    width: 64px;
    height: 64px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.task-details-popup {
    width: 640px;
    overflow-y: auto;
    max-height: 80vh;
}

#status-delete-button-tooltip.mud-tooltip-root {
    width: 100%;
}