@page "/"
@attribute [Authorize]

@inject HttpClient _httpClient

@if(_organizations is not null)
{
    @foreach (var organization in _organizations.Organizations)
    {
        <h5>
            @organization.Name
        </h5>
    }
}

@code {
    private OrganizationsForUserVM? _organizations;

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync($"organizations");
        _organizations = await response.Content.ReadFromJsonAsync<OrganizationsForUserVM>();
    }
}
