@page "/projects/{projectId:guid}"
@attribute [Authorize]

@inject HttpClient _httpClient
@inject IDialogService _dialogService

<h2>
    @ProjectId
</h2>

@code {
    [Parameter]
    public Guid ProjectId { get; init; }

    private RequestHandler _requestHandler = null!;

    protected override async Task OnInitializedAsync()
    {
        _requestHandler = new(_httpClient, _dialogService);
    }
}
