<div class="d-flex gap-2 align-center">
    <UserAvatar Name="@AssigneeVM.Name" UserId="@AssigneeVM.UserId" Size="Size.Small" />
    <div>
        @AssigneeVM.Name
    </div>
</div>

@code {
    [Parameter]
    public required ProjectMemberVM AssigneeVM { get; init; }
}
